.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 888px;
  row-gap: 40px;
}

.campersList {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.campersItem {
  padding: 24px;
  border-radius: 16px;
  background: #f7f7f7;
  width: 888px;
}

.contentWrapper {
  display: flex;
  gap: 24px;
}

.coverImage {
  border-radius: 16px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 524px;
  height: 264px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.camperTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #101828;
}

.camperPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #101828;
}

.detailsWrapper {
  display: flex;
  column-gap: 16px;
}

.reviewWrapper,
.locationWrapper {
  display: flex;
  column-gap: 4px;
  align-items: center;
}

.iconStar {
  fill: #ffc531;
}

.camperRating,
.camperLocation {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}

.iconMap {
  fill: #101828;
}

.supportingText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #475467;
}

.badgesWrapper {
  display: flex;
  column-gap: 8px;
}

.camperBadge {
  display: flex;
  column-gap: 8px;
  align-items: center;
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  mix-blend-mode: multiply;
}

.camperBadgeIcon {
  fill: #101828;
}

.camperBadgeType {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #101828;
}

.camperIdLink {
  display: flex;
  width: 173px;
}

.showMoreLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border: none;
  border-radius: 200px;
  width: 173px;
  height: 56px;

  background-color: #829b91;

  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #fff;
}

.showMoreLink:hover,
.showMoreLink:focus {
  background-color: #6d7b75;
}

.loadMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #dadde1;
  border-radius: 200px;
  width: 145px;
  height: 56px;

  background-color: transparent;

  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: -0.01em;
  color: #101828;
}

.loadMoreButton:hover,
.loadMoreButton:focus {
  border-color: #6d7b75;
}
