.camperDetailsContainer {
  display: flex;
}

.infoSection {
  display: flex;
  column-gap: 24px;
}

.infoSectionImageWrapper {
  display: flex;
  width: 638px;
}

.infoSectionTextWrapper {
  display: flex;
  width: 650px;
}
