.camperDetailsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 88px;
}

.infoSection {
  display: flex;
  column-gap: 24px;
}

.infoSectionImageWrapper {
  display: flex;
  width: 638px;
}

.infoSectionTextWrapper {
  display: flex;
  /* flex-direction: column;
  row-gap: 16px; */
  width: 650px;
}
.reviewsSection {
}
