.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* .main {
} */

.section {
  /* background: rgba(0, 0, 0, 0.2); */
  padding: 195px 64px;
  height: 696px;
  position: relative;
}

.heroImage {
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.headingWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.heroHeading {
  font-weight: 600;
  font-size: 48px;
  line-height: 32px;
  color: #f7f7f7;
}

.heroDescription {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #f7f7f7;
}

.heroButton {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 200px;
  width: 173px;
  height: 56px;

  background-color: #829b91;

  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #fff;
}

.heroButton:hover,
.heroButton:focus {
  background-color: #6d7b75;
}

/* .page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
} */

/* .main {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
} */
